<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset name="image">
        <field
                name="prefix"
                type="text"
                label="COM_PWTIMAGE_PREFIX_LABEL"
                description="COM_PWTIMAGE_PREFIX_DESC"
                default=""
                size="50"
                class="input-xxlarge"
        />
        <field
                name="suffix"
                type="text"
                label="COM_PWTIMAGE_SUFFIX_LABEL"
                description="COM_PWTIMAGE_SUFFIX_DESC"
                default=""
                size="50"
                class="input-xxlarge"
        />
    </fieldset>

    <fieldset name="update">
        <field
                name="downloadid"
                type="text"
                label="COM_PWTIMAGE_DOWNLOAD_LABEL"
                description="COM_PWTIMAGE_DOWNLOAD_DESC"
                default=""
                size="50"
        />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_pwtimage"
                section="component"/>
    </fieldset>
</config>
