# Joomla System Files (i.e. cache, etc.) #
/public_html/administrator/cache/*
/public_html/administrator/logs/*
/public_html/cache/*
/public_html/images/*
/public_html/tmp/*
/public_html/configuration.php
/public_html/.htaccess
/public_html/LICENSE.txt
/public_html/README.txt
/public_html/htaccess.txt
/public_html/robots.txt.dist
/public_html/web.config.txt
/public_html/templates/beez3
/public_html/templates/protostar

# Make sure folders are being created on git clone
!/public_html/administrator/cache/index.html
!/public_html/administrator/logs/index.html
!/public_html/cache/index.html
!/public_html/images/index.html
!/public_html/tmp/index.html

# Backup Files
/public_html/administrator/components/com_akeeba/backup/*
!/public_html/administrator/components/com_akeeba/backup/index.html
/backup/*
!/backup/index.html

# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.config.codekit

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Watchful.li #
/public_html/administrator/components/com_watchfulli/restauration.php
/public_html/administrator/components/com_watchfulli/restoration.php
/public_html/administrator/components/com_joomlaupdate/restoration.php

# MyJoomla
/public_html/plugins/system/bfnetwork/*
!/public_html/plugins/system/bfnetwork/index.html
/public_html/.myjoomla.configuration.php.md5

# Admintools security backend #
/public_html/administrator/.htaccess
/public_html/administrator/.htpasswd

# Acymailing Log
/public_html/media/com_acym/logs/*
!/public_html/media/com_acym/logs/.htaccess

#  EasyDiscuss
/public_html/media/com_easydiscuss/config/
/public_html/media/com_easydiscuss/attachments/*
/public_html/media/com_easydiscuss/attachments/index.html

# RSForm Pro
/public_html/components/com_rsform/uploads/*
!/public_html/components/com_rsform/uploads/index.html

# RSEventsPro
/public_html/components/com_rseventspro/assets/images/events/*
!/public_html/components/com_rseventspro/assets/images/events/index.html

# Development security
/public_html/.htpasswd

# Regular Labs Cache Cleaner log
/public_html/plugins/system/cachecleaner/*.log

# DOCMan files
/public_html/joomlatools-files/docman-files/*
!/public_html/joomlatools-files/docman-files/index.html

# Tools #
/node_modules
/hooks/CodeSniffer.conf

# CI/CD test results
/Tests/Results
/Tests/FileList.txt
.phpunit.result.cache

# Security headers
/public_html/.user.ini
/.env
/public_html/.well-known

# JC Downloads
/public_html/files/

# Vagrant
.vagrant
Vagrantfile
puphpet/

# Dev Tools
/public_html/templates/jc/bootstrap*
