# Joomla System Files (i.e. cache, etc.) #
/administrator/cache
/administrator/logs
/cache
/images
/logs
/tmp
/configuration.php
/.htaccess
/LICENSE.txt
/README.txt
/htaccess.txt
/robots.txt.dist
/web.config.txt
/templates/beez3
/templates/protostar

# JC specific
/files

# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.config.codekit

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Tools #
/bower_components
/node_modules

# Config files
media/com_easydiscuss/config/
media/com_komento/config/
media/com_komento/resources/*.js*
media/foundry/3.1/config/

# Backup files
/administrator/components/com_akeeba/backup/

# RSEventsPro
/components/com_rseventspro/assets/images/events/*
!/components/com_rseventspro/assets/images/events/index.html

# RSFormsPro
/components/com_rsform/uploads/*
!/components/com_rsform/uploads/index.html

# RSDownloads
/rsdownloads/*
!/rsdownloads/.htaccess

#  EasyDiscuss
/media/com_easydiscuss/attachments/*
/media/com_easydiscuss/attachments/index.html

# CSS files which are compiled
/templates/jc/css/template.css
