# Joomla System Files (i.e. cache, etc.) #
public_html/administrator/cache/
public_html/administrator/logs/
public_html/cache/
public_html/images/
public_html/logs/
public_html/tmp/
public_html/configuration.php
public_html/.htaccess
public_html/LICENSE.txt
public_html/README.txt
public_html/htaccess.txt
public_html/robots.txt.dist
public_html/web.config.txt
public_html/templates/beez3
public_html/templates/protostar

# JC Downloads
public_html/files/

# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.config.codekit

# Vagrant
.vagrant
Vagrantfile
puphpet/

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Tools #
bower_components
node_modules
public_html/templates/jc/node_modules

# Config files
public_html/media/com_easydiscuss/config/

# Backup files
public_html/administrator/components/com_akeeba/backup/

# RSEventsPro
public_html/components/com_rseventspro/assets/images/events/*
!public_html/components/com_rseventspro/assets/images/events/index.html

# RSFormsPro
public_html/components/com_rsform/uploads/*
!public_html/components/com_rsform/uploads/index.html

# DOCman
public_html/joomlatools-files/

#  EasyDiscuss
public_html/media/com_easydiscuss/attachments/*
public_html/media/com_easydiscuss/attachments/index.html
