<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field
			name="id"
			type="hidden"
			id="id"
			default="0"
			filter="int"
			readonly="true"
		/>
		<field
			name="asset_id"
			type="hidden"
			filter="unset"
		/>
		<field
			name="ordering"
			type="hidden"
			filter="int"
		/>
		<field
			name="menutype"
			type="text"
			label="COM_PWTSITEMAP_MENU_MENUTYPE_LABEL"
			description="COM_PWTSITEMAP_MENU_MENUTYPE_DESC"
			id="menutype"
			size="30"
			maxlength="24"
			required="true"
			readonly="readonly"
		/>
		<field
			name="title"
			type="text"
			label="JGLOBAL_TITLE"
			description="COM_PWTSITEMAP_MENU_TITLE_DESC"
			id="title"
			size="30"
			maxlength="48"
			required="true"
			readonly="readonly"
		/>
		<field
			name="custom_title"
			type="text"
			label="COM_PWTSITEMAP_MENU_CUSTOMTITLE"
			description="COM_PWTSITEMAP_MENU_CUSTOMTITLE_DESC"
			id="title"
			size="30"
			maxlength="48"
			required="false"
		/>
		<field
			name="description"
			type="text"
			label="JGLOBAL_DESCRIPTION"
			description="COM_PWTSITEMAP_MENU_DESCRIPTION_DESC"
			id="menudescription"
			size="30"
			maxlength="255"
			readonly="readonly"
		/>
		<field
			name="client_id"
			type="radio"
			label="COM_PWTSITEMAP_MENU_CLIENT_ID_LABEL"
			description="COM_PWTSITEMAP_MENU_CLIENT_ID_DESC"
			id="client_id"
			default="0"
			class="btn-group btn-group-yesno btn-group-reversed"
			readonly="readonly"
		>
			<option value="0">JSITE</option>
			<option value="1">JADMINISTRATOR</option>
		</field>
	</fieldset>
</form>
