/**
 * Joomla hathor template specific styling / overrides
 * ===================================================
 */

/**
 * Original files can be found in Joomlatools UI
 */

@import "../../../../../../../../../joomlatools-ui/src/scss/hathor";
