.finder {
  #search-form {
    form.form-inline {
      input.inputbox {
        display: inline;
      }
    }
  }
}

.search-results {
	list-style: none;
	padding-left: 0;

	li {
		padding-bottom: 12.5px;
		border-bottom: 1px solid #e6e6e6;
	}
}