.share-buttons {
  font-size: @font-size-large;
  margin-bottom: 0;

  > li {
    padding: 0;

    > a {
      padding: 0 5px;
      border-radius: @border-radius-small;

      &:hover {
        color: @white;
        text-decoration: none;
      }
    }
  }

  .share-twitter a {
    color: #35B0ED;
    &:hover {
      background: #35B0ED;
      color: #fff;
    }
  }

  .share-facebook a {
    color: #3B5998;
    &:hover {
      background: #3B5998;
      color: #fff;
    }
  }

  .share-googleplus a {
    color: #C7563C;
    &:hover {
      background: #C7563C;
      color: #fff;
    }
  }
}