@ed-title-font-size: 1.4em;
@fd-ui-meta-color: #585858;


// High-level base settings.
@fd-base-font-family: "Open Sans", sans-serif;

@fd-base-font-size-root: 1rem;
@fd-base-font-size--context: 1rem;

@fd-base-font-size: 1rem;
@fd-base-font-size--xs: .85rem;
@fd-base-font-size--xl: 1.25rem;

@fd-title-font-size: @fd-base-font-size--xl;

@font-size-small: 1rem;
@fd-title-font-size: 1.5rem;
