/* Homepage */
.siteimage {
	img {
		max-width: 100%;
	}
}

.jc-welcome {
	background-color: @home;
	margin-bottom: 30px;
	background-image: url(../images/joomlacommunity-welkom.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.overlay {
		padding: 20px 0 15px 0;
		#gradient > .vertical(@start-color: fade(@home, 50%); @end-color: fade(@home, 95%));

		@media (min-width: @screen-sm) {
			padding: 40px 0 20px 0;
		}
	}

	.joomla-intro {
		text-align: center;
		font-weight: 400;
		color: @white;
		margin-bottom: 20px;

		@media (min-width: @screen-lg) {
			padding: 0 60px;
			margin-bottom: 30px;
		}

		h1 {
			font-size: 30px;
			text-shadow: 0 1px 5px rgba(0, 0, 0, .9);
			line-height: 40px;
			margin: 0 0 10px 0;

			@media (min-width: @screen-sm) {
				font-size: 34px;
			}

			sup {
				font-size: 14px;
				top: -20px;
			}
		}

		p {
			font-size: 18px;
			text-shadow: 0 1px 5px rgba(0, 0, 0, .9);

			@media (min-width: @screen-sm) {
				font-size: 20px;
			}
		}

		.btn {
			border-color: @white;
			color: @white;
			background: fade(@home, 70%);
			font-weight: 400;

			&:hover {
				background: @home;
			}
		}
	}

	h3 {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.block {
		padding: 10px;
		border-radius: @border-radius-base;
		background: fade(@body, 80%);
		margin: 10px 0;

		&:hover {
			background: @body;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.btn {
		margin-top: 15px;
	}

	.block-downloads h3 {
		color: @downloads;
	}

	.block-aan-de-slag h3 {
		color: @aan-de-slag;
	}

	.block-agenda h3 {
		color: @agenda;
	}

	.block-forum h3 {
		color: @forum;
	}
}

.panel-nieuws {
	.list-group-item {
		padding-top: 10px;
		padding-left: 10px;
		min-height: 88px;

		@media (min-width: @screen-sm) {
			padding-top: 15px;
			padding-left: 15px;
			min-height: 180px;
		}
	}

	.news-image {
		float: left;
		width: 66px;
		margin-right: 10px;

		img {
			width: 100%;
		}

		@media (min-width: @screen-sm) {
			width: 150px;
			margin-right: 15px;
		}
	}

	.list-group-item-meta {
		.small();
		margin-bottom: 0px;
	}

	.list-group-item-text {
		margin-top: 5px;
		display: none;

		@media (min-width: @screen-sm) {
			display: block;
		}
	}
}

.promo {
	margin-bottom: 20px;
}

.laatste-nieuws {
	h3 {
		margin-top: 0;
	}

	.btn-nieuws {
		margin-bottom: 20px;
	}
}

.bedrijvengids {
	&__figure {
		border: 1px solid @home;
		display: inline-block;
		position: relative;
		width: 100%;

		&--partner {
			border-width: 5px;
			border-color: @white;
			background-color: @white;

			@media (min-width: @screen-sm-min) {
				position: relative;
				bottom: -185px;
				z-index: 1;
			}
		}

		&:before {
			content: "";
			display: block;
			margin-top: 100%;
		}
	}

	&__url {
		&--figure {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&__title {
		.h3;

		@media (min-width: @screen-sm-min) {
			margin: 0;
		}
	}

	&__location {
		color: @home;
		margin-bottom: 1/2 * @padding-base-vertical;

		.fa {
			margin-right: 1/2 * @padding-base-vertical;
		}
	}

	&__text {
		margin-bottom: @padding-base-vertical;
		position: relative;
	}

	&__description {
		width: 90%;
	}

	&__action {
		position: absolute;
		top: 50%;
		right: 0;
	}

	&__tags {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			.small;
		}

		.tag {
			border-bottom-color: darken(@home, @dark);
			border-bottom: 1px solid;
			cursor: pointer;

			&:after {
				content: ",";
			}

			&:first-child {
				color: inherit;
				cursor: default;

				&:after {
					content: "";
				}
			}

			&:last-child {
				&:after {
					content: "";
				}
			}
		}
	}

	&__filter {
		padding: @padding-base-vertical;

		&--mobile {
			display: none;

			.mobile &,
			.phone & {
				display: block;
			}
		}

		&--filters {
			.mobile &,
			.phone & {
				display: none;
			}
		}

		.panel-filter {
			.list-group-item {
				user-select: none;
				font-weight: normal;
			}

			.list-group input[type="checkbox"] {
				display: none;
			}

			.list-group input[type="checkbox"] + .list-group-item {
				cursor: pointer;
			}

			.list-group input[type="checkbox"] + .list-group-item:before {
				content: "\2713";
				color: transparent;
				margin-right: 1em;
			}

			.list-group input[type="checkbox"]:checked + .list-group-item {
				background-color: lighten(@home, @lighter);
			}

			.list-group input[type="checkbox"]:checked + .list-group-item:before {
				color: inherit;
			}

			.list-group input[type="radio"] {
				display: none;
			}

			.list-group input[type="radio"] + .list-group-item {
				cursor: pointer;
			}

			.list-group input[type="radio"] + .list-group-item:before {
				content: "\2022";
				color: transparent;
				margin-right: 1em;
			}

			.list-group input[type="radio"]:checked + .list-group-item {
				background-color: #0275D8;
				color: #FFF;
			}

			.list-group input[type="radio"]:checked + .list-group-item:before {
				color: inherit;
			}
		}
	}

	&__countsorting {
		margin-top: @padding-base-vertical;
		margin-bottom: @padding-base-vertical;
	}

	&__count {
		font-weight: bold;
	}

	&__sorting {
		@media (min-width: @grid-float-breakpoint) {
			text-align: right;
		}

		&-item {
			color: @home;
			padding: 0 1/4 * @padding-base-vertical;

			input {
				display: none;
			}

			&:last-child {
				color: @text-color;
			}
		}
	}

	&__specialisaties a {
		margin-bottom: 5px;
	}

	.photoheader {
		position: relative;
	}

	.company-logo {
		border: 1px solid @home;
		background: white;
		padding: 5px;
		max-width: 250px;
		float: left;
		margin: 15px;

		@media (min-width: @screen-md) {
			position: absolute;
			right: 30px;
			top: -200px;
			float: none;
		}

		@media (min-width: @screen-lg) {
			top: -240px;
		}

		img {
			max-width: 100%;
		}
	}

	.certified {
		float: right;
		max-width: 200px;
	}

	.image-logo {
		.pwt-image-preview,
		img {
			width: 250px;
			height: 250px;
		}
	}

	.image-foto {
		.pwt-image-preview,
		img {
			width: 500px;
			height: 200px;
		}
	}

	.subform-repeatable .fa {
		color: #fff;
	}

	.subform-repeatable .btn-toolbar {
		padding-bottom: 5px;
	}

	.subform-repeatable-group {
		border: 1px solid @home;
		padding: 10px;
		margin-bottom: 10px;
		background: #f6f6f6;
		border-radius: 5px;
	}

	.jform_com_fields_portfolio-lbl {
		display: none;
	}


}