// Panels
.jPanelMenu-panel {
  padding-top: 55px;
  padding-bottom: 290px;
}

.panel-date-icons {
  .list-group-item {
    overflow: hidden;
  }
}

.panel-heading a {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
  }
}

.panel-body {
	p:last-child {
		margin-bottom: 0;
	}
}