// Header
.header {
	margin-bottom: 20px;
	z-index: 5;
	position: relative;
	min-height: 75px;

	&.homepage {
		min-height: 350px;
	}

	@media (min-width: @screen-sm) {
		min-height: 100px;
	}

	.subnav {
		.nav > li > a {
			color: #fff;
		}
	}
}