/* Headings */
.page-header {
  margin: 0 0 10px;
  padding-bottom: 0;
}

.page-header h1,
.page-header h2 {
  margin: 0 0 5px 0;
}

.lead {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}


.pagetitle {
  .paginatitel,
  .banner {
    .make-lg-column(6);
    .make-md-column(6);
  }
}

.paginatitel {
  h3 {
    line-height: 50px;
    margin: 0 0 0 -10px;
    font-weight: 200;
    font-size: 36px;
    color: #ffffff;

    @media (min-width: @screen-sm) {
      line-height: 70px;
    }

    @media (min-width: @screen-md) {
      line-height: 90px;
    }
  }
  @media (min-width: @screen-md) {
    width: inherit;
  }
}

.post-heading {
  padding: 150px 0;

  h1 {
    font-weight: 800;
    color: white;
    font-size: 55px;
  }
}

.list-group-item-heading {
  font-size: 17px;
}