ul {
  display: block;
  margin: 0;
  list-style: none !important;

  li {
    position: relative;

    .koowa_header {
      margin: 0 0 2px 0;
      line-height: 1.5em;

      &.koowa_header--margin {
        margin: 0;
        padding: 5px 0;
      }

      .label {
        vertical-align: text-bottom;
      }
    }

    img {
      width: auto;
      height: 16px;
      max-width: 16px;
      max-height: 16px;
    }
  }

  ul {
    margin-left: 24px !important;

    @include rtl {
      margin-left: 0 !important;
      margin-right: 24px !important;
    }

    li:before {
      content: " ";
      display: block;
      width: 6px;
      height: 6px;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      position: absolute;
      left: -1em;
      top: .825em;

      @include rtl {
        border-left: none;
        border-right: 1px solid #ccc;
        left: auto;
        right: -1em;
      }
    }
  }

  .module_document__info {
    clear: both;
    display: block;

    div {
      display: inline-block;

      &:after {
        display: inline-block;
        content: " \2022";
      }

      &:last-child:after {
        display: none;
      }

      &.module_document__date,
      &.module_document__size {
        font-size: 90%;
      }
    }

    .module_document__category {
      display: block;
      width: 100%;

      &:after {
        display: none;
      }
    }

    a {
      display: inline;
    }
  }

  &.mod_docman_icons {
    .module_document__info {
      padding-left: 30px;

      @include rtl {
        padding-left: 0;
        padding-right: 30px;
      }
    }
  }
}

&.mod_docman--documents {
  ul li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

&.mod_docman--categories {
  .koowa_header__item.koowa_header__item--image_container {
    vertical-align: top;
    padding-top: 2px;
  }
}