/* ==========================================================================
   Center
   ========================================================================== */

.center {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
}

.center--pull\:right {
  max-width: calc(((100% - #{$content-width}) / 2) + #{$content-width});
  margin-right: 0;
}
