#rsc_global_pagination {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
}

#rsc_global_pagination  a {
	display: inline;
	float: none !important;
	text-decoration: none !important;
	padding: 10px;
}

.rsc_name{
	float:left;
}

.rsc_options{
	float:right;
	margin-top: 6px;
}

.rsc_options a:hover,
.rsc_options a:active,
.rsc_options a:focus  {
	background: none repeat scroll 0 0 transparent !important;
	color: #4f4f4f !important;
}

.rsc_comment_container {
	clear: both;
	margin-bottom: 14px;
	width: 99%;
}

.rsc_avatar{
	width:64px;
	height:64px;
	border-bottom: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:5px;
}

.rsc_avatar_container {
	float: left;
	width: 15%;
	padding: 5px;
	text-align:center !important;
}

.rsc_cloud_comment {
	background: #FFFFFF url(images/textareabg.png) repeat-x left bottom;
	float: left;
	padding: 7px;
	margin-left: 12px;
	width: 95%;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #CFCFCF;
	-webkit-box-shadow: 1px 1px 5px #CFCFCF;
	box-shadow: 1px 1px 5px #CFCFCF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rsc_cloud_comment:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 7px #999;
	-webkit-box-shadow: 1px 1px 7px #999;
	box-shadow: 1px 1px 7px #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rsc_comment_content{
	padding:5px;
	float:left;
	width:99%;
}

.rsc_right_container {
	float: right;
	width: 89%;
}

.rsc_cloud_container {
	position: relative;
}

.rsc_author {
	margin-bottom:5px;
	display: block;
	width:100%;
	text-decoration:none;
	color:#6F6F6F;
}

.rsc_author strong {
	line-height:15px;
	display:block;
}

.rsc_date  {
	font-size:12px;
	display: block;
    margin: 5px 0px;
}

.rsc_clear {
	display: block;
	clear: both;
	font-size: 1px;
	height: 1px;
}

.rsc_subject {
	display: block;
	font-weight: bold;
	color: #6F6F6F;
	float: left;
	padding:5px;
	font-size:14px;
	font-family:Verdana;
	margin-bottom:5px;
	width:70%;
}

.rsc_voting {
	float: right;
	margin-right:5px;
}

.rsc_attachment {
	float:left;
	margin-top:8px;
}

.rsc_attachment a {
	line-height:16px;
}

.rsc_attachment img{
	display:block;
	float:left;
}

#rscomments_big_container a {
	text-decoration: none;
}

#rscomments_big_container a:active,
#rscomments_big_container a:focus,
#rscomments_big_container a:hover {
	background: none repeat scroll 0 0 transparent;
	text-decoration:none !important;
	color:#4f4f4f !important;
}

div.rsc_comment_content .rsc_rq  a, 
div.rsc_comment_content .rsc_reply  a, 
.rsc_button,
.rsc_website {
	background: #efefef !important;
	background: -moz-linear-gradient(top,  #efefef 0%, #ebebeb 50%, #e6e6e6 51%, #fefefe 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#ebebeb), color-stop(51%,#e6e6e6), color-stop(100%,#fefefe)) !important;
	background: -webkit-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: -o-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: -ms-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fefefe',GradientType=0 ) !important;
	border-color: #ABBBCC #A7B6C7 #A1AFBF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 0 white inset;
	color: #1A3E66 !important;
	font-size: 12px;
	padding: 6px 3px 7px 3px;
	text-align: center !important;
	text-shadow: 0 1px 1px #FFFFFF;
	display: block;
	text-decoration:none !important;
	margin:10px 5px;
	width:100px;
	float:right;
	display:block;
}

div.rsc_comment_content .rsc_rq a:hover, 
div.rsc_comment_content .rsc_reply a:hover, 
.rsc_button:hover,
.rsc_website:hover {
	background: #e2e2e2 !important;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)) !important;
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%) !important;
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%) !important;
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%) !important;
	background: linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ) !important;

	border-color: #A1AFBF #9CAABA #96A3B3 !important;
	border-style: solid !important; 
	border-width: 1px !important;
	box-shadow: 0 1px 0 0 #F2F2F2 inset !important;
	color: #163659 !important;
	text-decoration:none !important;	

}

.rsc_button:disabled {
	background: #f5f5f5 !important;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #f3f3f3 50%, #efefef 51%, #ffffff 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#f3f3f3), color-stop(51%,#efefef), color-stop(100%,#ffffff)) !important;
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#f3f3f3 50%,#efefef 51%,#ffffff 100%) !important;
	background: -o-linear-gradient(top, #f5f5f5 0%,#f3f3f3 50%,#efefef 51%,#ffffff 100%) !important;
	background: -ms-linear-gradient(top, #f5f5f5 0%,#f3f3f3 50%,#efefef 51%,#ffffff 100%) !important;
	background: linear-gradient(top, #f5f5f5 0%,#f3f3f3 50%,#efefef 51%,#ffffff 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 ) !important;
	border:1px solid #CFCFCF;
	color:#BFBFBF !important;
}

.rsc_button {
	float:left !important;
	cursor: pointer;
}

.rsc_website {
	float:none !important; 
	margin:0px auto !important; 
	padding:0px !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	letter-spacing:1px;
	font-size:10px;
	width:66% !important;
	text-align:center !important;
}

#rscommentsForm .rsc_input {
	padding: 7px 5px 6px 5px;
	background: #FEFEFE url(images/inpbg.png) repeat-x left bottom;
	border: 1px solid #e2e1e1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:14px;
	margin:0px !important;
}

.rscDetails li {
	margin-bottom: 15px !important;
}

.rscDetails li label {
    display: block;
}

#rsc_comment {
	padding: 7px 5px;
	background: #ffffff url(images/textareabg.png) repeat-x left bottom;
	min-height:180px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif !important;
	border: 1px solid #e2e1e1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:100%;
}

div#rsc_terms_container a, 
div#rsc_terms_container a:hover, 
.rsc_author strong span a,
.rsc_author strong span a:hover, 
.rsc_voting span a:hover,
.rsc_attachment a:hover {
	background: none repeat scroll 0 0 transparent !important;
	text-decoration:none !important;
	color:#4f4f4f !important;
}

.rsc_quote blockquote,.rsc_quote blockquote blockquote blockquote {
	border-color: #ABBBCC #A7B6C7 #A1AFBF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 0 white inset;
	background:#EFEFEF;
}

.rsc_quote blockquote blockquote,.rsc_quote blockquote blockquote blockquote blockquote {
	background:#DFDFDF;
}

.rsc_buttons_container {
	float:right;
}

.rsc_reply {
	float:left;
}

#rsc_subscribe_thread{
	margin-top:5px;
}

.rsc_message {
	background: #FFFFFF url(images/gradient.png) repeat-x left bottom;
	padding: 7px;
	margin-left: 12px;
	width: 95%;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #CFCFCF;
	-webkit-box-shadow: 1px 1px 5px #CFCFCF;
	box-shadow: 1px 1px 5px #CFCFCF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.rsc_message:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 7px #999;
	-webkit-box-shadow: 1px 1px 7px #999;
	box-shadow: 1px 1px 7px #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#rsc_loading_top {
	float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#rsc_loading_form {
	float: left;
    margin-top: 20px;
}

.rsc_modified {
	background: #efefef !important;
	background: -moz-linear-gradient(top,  #efefef 0%, #ebebeb 50%, #e6e6e6 51%, #fefefe 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#ebebeb), color-stop(51%,#e6e6e6), color-stop(100%,#fefefe)) !important;
	background: -webkit-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: -o-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: -ms-linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	background: linear-gradient(top,  #efefef 0%,#ebebeb 50%,#e6e6e6 51%,#fefefe 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fefefe',GradientType=0 ) !important;
	border-color: #ABBBCC #A7B6C7 #A1AFBF;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: inline;
	padding: 5px;
}

.rscomments .media.rscomment {
	background-color: transparent;
	padding: 0;
}

.rscomment, .rscomment + .rscomment {
	margin-top: 0;
}

.rscomment-top-actions {
	margin-bottom: 10px
}

.rscomments .rscomment-form {
    background-color: transparent;
	padding: 15px;
}