/*
This is the Custom CSS Style file for RSEvents!Pro on Joomlacommunity
Reference page: https://www.rsjoomla.com/blog/view/273-rseventspro-template-override-example.html
*/

.rse_print .description {
    text-align: left;
}

#rs_event_show .description {
    text-align: left;
}

.rsepro-small-description-block {
    text-align: left;
}
