// Item
.item {
  .page-header {
    padding-bottom: 5px;

    a {
      text-decoration: none;
      color: inherit;
    }

    .metainfo {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.item-content {
  a {
    border-bottom: 1px solid @gray-lighter;

    &:hover {
      text-decoration: none;
    }
  }
	img{
		max-width: 100%;
	}
}

.pagination {
  margin: 0 0 20px 0;
}

.content {
  max-width: 100%;
  overflow: hidden;
}