// JC Colors
.base {
  .jc-color(@home);
}

.nieuws {
  .jc-color(@nieuws);
}

.downloads {
  .jc-color(@downloads);
}

.aan-de-slag {
  .jc-color(@aan-de-slag);
}

.sites {
  .jc-color(@sites);
}

.forum {
  .jc-color(@forum);
}

.agenda {
  .jc-color(@agenda);
}

// JC Panels
.panel-home {
  .jc-panel(@home);
}

.panel-nieuws {
  .jc-panel(@nieuws);
}

.panel-downloads {
  .jc-panel(@downloads);
}

.panel-aan-de-slag {
  .jc-panel(@aan-de-slag);
}

.panel-sites {
  .jc-panel(@sites);
}

.panel-forum {
  .jc-panel(@forum);
}

.panel-agenda {
  .jc-panel(@agenda);
}

// JC specific
.joomla1 {
  color: @joomla1;
}

.joomla2 {
  color: @joomla2;
}

.joomla3 {
  color: @joomla3;
}

.label {
  font-weight: 200;
}

.label-joomla1,
.badge-joomla1 {
  background-color: @joomla1;
}

.label-joomla2,
.label-joomla-25,
.badge-joomla2 {
  background-color: @joomla2;
}

.label-joomla3,
.label-joomla-32,
.badge-joomla3 {
  background-color: @joomla3;
}

// Subsite buttons
.btn-home {
	.button-variant(@white; @home; @home);
}

.btn-nieuws {
	.button-variant(@white; @nieuws; @nieuws);
}

.btn-downloads {
	.button-variant(@white; @downloads; @downloads);
}

.btn-aan-de-slag {
	.button-variant(@white; @aan-de-slag; @aan-de-slag);
}

.btn-sites {
	.button-variant(@white; @sites; @sites);
}

.btn-forum {
	.button-variant(@white; @forum; @forum);
}

.btn-agenda {
	.button-variant(@white; @agenda; @agenda);
}