.sb-search {
	right: 5px;
	position: absolute;
	width: 0;
	min-width: 30px;
	height: 30px;
	float: right;
	z-index: 1;
	.transition(0.3s);

	.sb-icon-search {
		color: #fff;
		z-index: 90;
		font-size: 22px;
		width: 30px;
	}
}

.navbar-form .form-control.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 0;
	height: 30px;
}

.sb-search.sb-search-open .sb-search-input {
	width: 350px;
	.transition(0.3s);
}

.sb-icon-search,
.sb-search-submit  {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 27px;
	text-align: center;
	cursor: pointer;
	border-radius: @border-radius-small;
}

.sb-search-submit {
    opacity: 0;
	z-index: -1;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 400px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

.filter-branch {
	margin-top: 15px;
}

