// Form
// ==========================================================================

$form-border-width: 1px !default;
$form-focus-width: 3px !default;
$form-spacing-vertical: ms(-3) !default;
$form-spacing-horizontal: ms(-2) !default;
$form-group-selector: ".form__input-group" !default;
$form-group-error-selector: ".form__group--error" !default;
