/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
  line-height: 1em;
}

.icon-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: ms(2);
  height: ms(2);
  font-size: ms(0);
  color: $goud-type;
  background: $goud;
  border-radius: $radius-full;

  &[href] {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 px(3) $color-focus;
    }

    &:active {
      box-shadow: 0 px(1) 0 0 $goud-trans;
    }

    @include hover() {
      background: $goud-dark;
    }
  }
}

.icon-round--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: ms(2);
  height: ms(2);
  font-size: ms(0);
  color: $type-alt;
  background: $wit;
  border-radius: $radius-full;

  &[href] {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 px(3) $color-focus;
    }

    &:active {
      box-shadow: 0 px(1) 0 0 $geel-trans;
    }

    @include hover() {
      background: $geel;
    }
  }
}
