/**
 * Variables
 */
$vjsm-menu-wrapper: navigation !default;
$vjsm-mobile-indicator: rm-mobile-indicator !default;
$vjsm-mobile-submenu-indicator: rm-mobile-submenu-indicator !default;
$vjsm-menu: ul !default;
$vjsm-menu-width: $header-breakpoint !default;
$vjsm-submenu-width: $vjsm-menu-width !default;
$vjsm-closed-class: rm-closed !default;
$vjsm-no-js-class: no-js !default;
$vjsm-js-class: js !default;
$vjsm-children-zindex: 1000 !default;
$vjsm-absolutemenu-zindex: 1000 !default;
$vjsm-togglebutton-zindex: 1001 !default;
$vjsm-multi-level: true !default;
$vjsm-horizontal-css-behavior: true !default;
$vjsm-horizontal-css-behavior-position: relative !default;
$vjsm-horizontal-css-behavior-zindex: 1 !default;
$vjsm-horizontal-css-behavior-ul-position: absolute !default;
$vjsm-horizontal-css-behavior-ul-zindex: -1 !default;
$vjsm-horizontal-css-behavior-ul-left: -9999px !default;
$vjsm-horizontal-css-behavior-ul-left-hover: 0 !default;
$vjsm-horizontal-css-behavior-ul-right-hover: 0 !default;
$vjsm-horizontal-css-behavior-ul-top: 100% !default;
$vjsm-horizontal-css-behavior-ul-width: 100% !default;
$vjsm-horizontal-css-behavior-ul-li-float: left !default;
$vjsm-horizontal-css-behavior-ul-li-position: relative !default;
$vjsm-horizontal-css-behavior-li-ul-left: 100% !default;
$vjsm-horizontal-css-behavior-li-ul-top: 0 !default;
$vjsm-sticky: false !default;
$vjsm-absolute: false !default;


/**
 * Base styling
 */

// Accessible hide
@mixin accessible-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

// Accessible show
@mixin accessible-show {
  width: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  clip: auto;
}

@if $vjsm-sticky == true {
  /* Sticky menu */
  .rm-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  // Overflow
  .rm-bodyoverflowhidden {
    position: relative;
    overflow: hidden;
  }

  .rm-menuoverflowauto {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}


@if $vjsm-absolute == true {
  /* Absolute menu */
  .rm-absolutemenu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: $vjsm-absolutemenu-zindex;
  }
}

/* hide close buttons when closed so they wont show up in tabindex */
.#{$vjsm-closed-class} {
  display: none;
}


/* Accessible hide the menu itself */
#{$vjsm-menu}.#{$vjsm-closed-class} {
  @include accessible-hide;
}


/* Mobile mainmenu indicator styling */
##{$vjsm-mobile-indicator} {
  @include accessible-hide;
  z-index: 0;

  @media (min-width: $vjsm-menu-width) {
    z-index: 1;
  }
}


/* Mobile submenu indicator styling */
@if $vjsm-multi-level == true {
  ##{$vjsm-mobile-submenu-indicator} {
    @include accessible-hide;
    z-index: 0;

    @media (min-width: $vjsm-submenu-width) {
      z-index: 1;
    }
  }
}


@if $vjsm-multi-level == true {
  /**
    * When JS is disabled
    *
    * 1. initially hide all li>ul so we get a small list when JS is disabled
    * 2. Show on "desktop"
    * 3. Show them on current/active items
    */

  .#{$vjsm-no-js-class} {
    .#{$vjsm-menu-wrapper} {
      > ul {
        > li {
          > ul {
            @include accessible-hide; /* 1 */
            @media (min-width: $vjsm-submenu-width) {
              @include accessible-show; /* 2 */
            }
          }

          &.active,
          &.current {
            & > ul {
              @include accessible-show; /* 3 */
            }
          }
        }
      }
    }
  }
}

/**
 * When JS is enabled
 *
 * 1. We can use display none because we set display block again with JS immediately after initiating the menu
 * 2. Display menu when initiated
 * 3. Display menu on "desktop"
 * 4. Display focused items
 */

.#{$vjsm-js-class} {
  .#{$vjsm-menu-wrapper} {
    display: none; /* 1 */

    &.rm-initiated {
      display: flex; /* 2 */
    }

    @media (min-width: $vjsm-menu-width) {
      display: flex; /* 3 */
    }

    .rm-focused {
      overflow: visible; /* 4 */
    }
  }
}

@if $vjsm-multi-level == true {
  /**
   * When JS is either disabled or enabled
   *
   * 1. Relative to position li > ul items
   * 2. Hide overflowing content so we can display on tabbing
   * 3. Display on hover / focus
   * 4. Children should have position absolute to hide them
   */

  .#{$vjsm-menu-wrapper} {
    > ul {
      > li {
        //position: relative; /* 1 */

        @media (min-width: $vjsm-menu-width) {
          overflow: hidden; /* 2 */

          &:hover,
          &:focus {
            overflow: visible; /* 3 */
          }
        }

        //ul {
        //  @media (min-width: $vjsm-submenu-width) {
        //    position: absolute; /* 4 */
        //  }
        //}
      }
    }
  }

  @if $vjsm-horizontal-css-behavior == true {
    .#{$vjsm-menu-wrapper} {
      @media (min-width: $vjsm-menu-width) {
        position: $vjsm-horizontal-css-behavior-position;
        z-index: $vjsm-horizontal-css-behavior-zindex;
      }

      @media (min-width: $vjsm-submenu-width) {
        > ul {
          > li {
            > ul {
              position: $vjsm-horizontal-css-behavior-ul-position;
              top: $vjsm-horizontal-css-behavior-ul-top;
              left: $vjsm-horizontal-css-behavior-ul-left;
              z-index: $vjsm-horizontal-css-behavior-ul-zindex;
              width: $vjsm-horizontal-css-behavior-ul-width;
            }

            li {
              position: $vjsm-horizontal-css-behavior-ul-li-position;
              float: $vjsm-horizontal-css-behavior-ul-li-float;
            }

            &:hover > ul {
              right: $vjsm-horizontal-css-behavior-ul-right-hover;
              left: $vjsm-horizontal-css-behavior-ul-left-hover;
            }

            li:hover > ul {
              top: $vjsm-horizontal-css-behavior-li-ul-top;
              left: $vjsm-horizontal-css-behavior-li-ul-left;
            }
          }
        }
      }
    }
  }
}

##{$vjsm-mobile-submenu-indicator} {
  @include accessible-hide;
  z-index: 0;

  @media (min-width: $vjsm-submenu-width) {
    z-index: 1;
  }
}


/**
 * Styled Overrides
 */

.rm-togglebutton {
  position: fixed;
  top: px(8);
  right: px(8);
  z-index: $vjsm-togglebutton-zindex;
  padding: 0;
  background-color: $wit;
  border: 0;
  border-radius: $radius-small;

  @include breakpoint($vjsm-menu-width) {
    display: none;
  }

  * {
    pointer-events: none;
  }
}

.rm-subtoggle {
  position: absolute;
  @include ms(right, 1);
  z-index: $vjsm-togglebutton-zindex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: px(4);
  font-size: 1.1rem;
  color: $rood;
  background-color: $goud-lightest;
  border: 0;
  border-radius: $radius-small;
  @include transition;

  &.rm-togglebutton--closed {
    transform: rotate(90deg);
  }

  @include breakpoint($vjsm-menu-width) {
    display: none;
  }

  @include hover {
    outline: none;
  }
}

.#{$vjsm-menu-wrapper} {
  position: static;
  flex: 99;
  @media print {
    display: none;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
  }

  > ul {
    padding-left: 0;
    font-family: $font-family-heading;
    line-height: 1;
    color: $goud;
    @include font-size("l");

    text-align: left;
    list-style: none;

    @include transition(opacity, transform);

    @include breakpoint(0, $vjsm-menu-width) {
      @include coverall($position: fixed);
      z-index: $vjsm-absolutemenu-zindex;
      @include ms(padding-top, 3);
      @include ms(padding-right, 1);
      @include ms(padding-left, 1);
      font-style: italic;
      text-align: center;
      background-color: $goud-lightest;
    }

    @include breakpoint($vjsm-menu-width) {
      margin-right: calc(1rem / 3 * -1);
      margin-left: calc(1rem / 3 * -1);
      @include font-size("xl");
    }

    &::before,
    &::after {
      display: table;
      content: " ";
    }

    &::after {
      clear: both;
    }

    &.rm-closed {
      display: block;
      opacity: 0;
      transform: translateY(-100%);
      transform-origin: 0 0;
    }

    &.rm-opened {
      opacity: 1;
      transform: translateY(0);

      @include pseudo(before, false, $content: "Oeteldonksche Club van 1882") {
        top: 0;
        right: 0;
        left: 0;
        @include ms(padding-top, -2);
        @include ms(padding-right, 0);
        @include ms(padding-bottom, -2);
        @include ms(padding-left, -2);
        text-align: left;
        background-color: $wit;
      }
    }

    &.is-closing {
      opacity: 0;
      transform: translateY(-100%);
    }

    > li {
      float: left;
      width: 100%;
      @include ms(padding-top, -1);

      @include breakpoint(0, $vjsm-menu-width) {
        border-top: 1px solid currentColor;

        &:last-child {
          border-bottom: 1px solid currentColor;
        }
      }

      @include breakpoint($vjsm-menu-width) {
        width: auto;
        margin-right: calc(1rem);
        margin-left: calc(1rem);
      }

      &.default {
        @include visually-hidden;
      }

      &.show-on-mobile {
        display: none;
      }

      > a {
        @include ms(margin-bottom, -1);

        @include breakpoint(0, $vjsm-menu-width) {
          @include heading(m);
        }

        @include pseudo(after) {
          @include breakpoint($vjsm-menu-width) {
            top: 100%;
            right: 0;
            bottom: calc(1em - #{px(6)});
            left: 0;
            width: auto;
            height: px(2);
            pointer-events: none;
            background: $rood;
            opacity: 0;
            transform: translateY(px(8)) scaleX(.8);
            @include transition(transform, opacity);
          }
        }

        @include hover() {
          &::after {
            @include breakpoint($vjsm-menu-width) {
              opacity: 1;
              transform: translateY(0) scaleX(1);
            }
          }
        }
      }

      &.active > a::after {
        @include breakpoint($vjsm-menu-width) {
          background: $rood;
          opacity: 1;
          transform: translateY(0) scaleX(1);
        }
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .rm-opened {
    overflow-y: scroll;

    li {
      float: none;
    }

    > li {
      @include ms(padding-top, -1);

      &:nth-child(4) {
        border-bottom: 1px solid currentColor;

        > button {
          right: 0;
        }

        @include pseudo(after) {
          bottom: -1em;
          left: calc(50% - .5em);
          width: 1em;
          height: 1em;
          overflow: hidden;
          @include svg-background($i--oc1882-label, $width: .75, $height: .75, $color: transparent, $unit: em, $background-position: center -.5rem);
          @include font-size("xxl");
        }
      }

      > a {
        @include ms(margin-bottom, -1);
      }

      &.show-on-mobile {
        @include ms(margin-top, 2);
        display: block;
        color: $type;
        border-top: none;
        border-bottom: none;

        + .show-on-mobile {
          margin-top: 0;
        }

        > a {
          @include ms(margin-bottom, -2);
        }
      }

      > ul {
        > li {
          @include ms(padding-top, -4);
          border-top: 1px solid currentColor;

          > a {
            @include ms(margin-bottom, -4);
          }

          > ul {
            color: $type;
            @include heading(s);

            > li {
              @include ms(padding-top, -4);

              &:last-child {
                @include ms(padding-bottom, -4);
              }

              > a {
                @include ms(margin-bottom, -4);
              }
            }
          }
        }
      }
    }
  }

  //.active a,
  //.active a:hover,
  //.active a:focus {
  //  cursor: default;
  //}

  .rm-closed, // For JS disabled/broken browsers
  .rm-fullmenu { // For all the other ones

    > li {
      overflow: visible;

      > ul {
        @include ms(padding-top, 0);
        @include ms(padding-bottom, 0);
        height: auto;
        font-style: italic;
        background: $goud-lightest;
        border-top: none;
        box-shadow: 0 2rem 3rem hsla(0, 0%, 0%, .3);

        @include breakpoint($vjsm-menu-width) {
          transition: transform .1s cubic-bezier(.195, .4, .45, .785);
          transform: scaleY(0);
          transform-origin: 0 0;
        }

        > li + li {
          @include breakpoint($vjsm-menu-width) {
            @include ms(margin-left, 1);
          }
        }

        ul {
          @include font-size("xs");
          font-style: normal;
          color: $type;

          li {
            @include breakpoint($vjsm-menu-width) {
              @include ms(margin-top, -3);
            }
          }
        }

        a {
          @include transition(transition, color);

          @include pseudo($content: ">") {
            pointer-events: none;
            left: -1em;
            top: 0;
            color: $rood;
            opacity: 0;

          }

          @include hover {
            color: $type-alt;

            &::after {
              opacity: 1;
            }
          }
        }
      }

      &.rm-focused,
      &:hover {
        & > ul {
          display: flex;
          justify-content: center;
          transition-delay: 100ms;

          @include breakpoint($vjsm-menu-width) {
            transition-duration: 200ms;
            transform: scaleY(1);
          }
        }
      }

      li {
        float: none;

        &.rm-focused > a,
        &:hover > a,
        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.#{$vjsm-menu-wrapper}--linktree {
  position: static;
  flex: 99;
  @media print {
    display: none;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
  }

  > ul {
    @include coverall($position: fixed);
    z-index: $vjsm-absolutemenu-zindex;
    padding-left: 0;
    @include ms(padding-top, 1);
    @include ms(padding-right, 1);
    @include ms(padding-left, 1);
    margin: 2em auto 0;
    max-width: $content-width;
    color: $goud;
    @include font-size("l");
    font-family: $font-family-heading;
    line-height: 1;
    font-style: italic;
    text-align: center;
    @include transition(opacity, transform);

    &::before,
    &::after {
      display: table;
      content: " ";
    }

    &::after {
      clear: both;
    }

    > li {
      float: left;
      width: 100%;
      @include ms(padding-top, -1);
      border-top: 1px solid currentColor;

      &:last-child {
        border-bottom: 1px solid currentColor;
      }

      &.default {
        @include visually-hidden;
      }

      &.show-on-mobile {
        display: none;

        @include breakpoint(0, $vjsm-menu-width) {
          @include ms(margin-top, 2);
          display: block;
          color: $type;
          border-top: none;
          border-bottom: none;

          + .show-on-mobile {
            margin-top: 0;
          }

          > a {
            @include ms(margin-bottom, -2);
          }
        }
      }

      > a {
        @include ms(margin-bottom, -1);
        @include heading(m);
      }
    }
  }

  a {
    display: block;
    text-decoration: none;

    @include pseudo(after) {
      @include breakpoint($vjsm-menu-width) {
        top: 100%;
        right: 0;
        bottom: calc(1em - #{px(6)});
        left: 0;
        width: auto;
        height: px(2);
        pointer-events: none;
        background: $rood;
        opacity: 0;
        transform: translateY(px(8)) scaleX(.8);
        @include transition(transform, opacity);
      }
    }

    @include hover() {
      &::after {
        @include breakpoint($vjsm-menu-width) {
          opacity: 1;
          transform: translateY(0) scaleX(1);
        }
      }
    }
  }

  &.active > a::after {
    @include breakpoint($vjsm-menu-width) {
      background: $rood;
      opacity: 1;
      transform: translateY(0) scaleX(1);
    }
  }
}

// Navigation--top
.#{$vjsm-menu-wrapper}.#{$vjsm-menu-wrapper}--top {
  > ul {
    color: $goud;

    @include breakpoint($header-breakpoint) {
      @include font-size("s");
    }

    > li {
      padding-top: 0;
      overflow: visible;

      + li {
        @include pseudo(before) {
          @include ms(top, -3);
          @include ms(bottom, -3);
          left: -1em;
          width: px(1);
          background-color: $goud;
        }
      }

      > a {
        padding-top: px(4);
        padding-bottom: px(4);
        margin-bottom: 0;
      }
    }
  }
}
