.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.discuss-mod,
.dc-clearfix {
  *zoom: 1;
}
.discuss-mod:before,
.discuss-mod:after,
.dc-clearfix:before,
.dc-clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.discuss-mod:after,
.dc-clearfix:after {
  clear: both;
}
.discuss-mod {
  font-family: 'Lucida Grande', 'Gisha', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Arial, Verdana, sans-serif;
}
.discuss-mod [class^="icon-dc-mod-"],
.discuss-mod [class*=" icon-dc-mod-"] {
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-top;
}
.discuss-mod .icon-dc-mod-list {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url('../../../media/com_easydiscuss/styles/../images/mod/icon-list.png');
}
.discuss-mod .btn {
  text-decoration: none !important;
  text-shadow: none !important;
}
.discuss-mod .btn-link {
  border-color: transparent !important;
  cursor: pointer !important;
  color: #08C !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.discuss-mod .pa-10 {
  padding: 10px;
}
.discuss-mod ul.unstyled,
.discuss-mod ol.unstyled {
  list-style: none outside none;
}
#discuss-welcome .btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) #A2A2A2;
  border-image: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
}
#discuss-welcome .btn-primary {
  background-color: #006DCC;
  background-image: linear-gradient(to bottom,#0088CC,#0044CC);
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#discuss-welcome ul.ed-user-options,
#discuss-welcome ul.ed-user-options li {
  list-style: none !important;
  background: none !important;
  padding: 0;
}
#discuss-welcome li.discuss-profile {
  border-top: 0 none;
  padding-top: 0;
}
#discuss-welcome .user-badges-heading {
  font-weight: 700;
}
#discuss-welcome .small {
  color: #757575;
  font-size: 11px;
}
#discuss-welcome li.discuss-profile div.discuss-profile-wrapper {
  display: inline-block;
  width: 100%;
}
#discuss-welcome li.discuss-profile a.avatar {
  margin-right: 10px;
  display: inline-block;
  float: left;
}
#discuss-welcome li.discuss-profile a.avatar img.avatar {
  border-color: #AAAAAA #AAAAAA #999999;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px #CCCCCC;
}
#discuss-welcome li.discuss-profile div.user-title a {
  font-weight: 700;
  font-size: 16px;
}
#discuss-welcome li.discuss-profile div.user-title a,
#discuss-welcome li.discuss-profile div.user-title a:hover {
  display: inline-block;
  text-decoration: none;
}
#discuss-welcome .ed-user-options li {
  position: relative;
}
#discuss-welcome .ed-user-options li+li {
  border-top: 1px dotted #CCCCCC;
  margin-top: 8px;
  padding-top: 8px;
}
#discuss-welcome li a,
#discuss-welcome li a:hover {
  display: inline-block;
  text-decoration: none;
}
#discuss-welcome ul.list-form li {
  background: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
#discuss-welcome ul.list-form .input {
  height: 20px;
  margin-bottom: 10px;
  padding: 5px;
  width: 90%;
  border: 1px solid #CCCCCC;
  color: #222222;
  font-size: 12px;
}
#discuss-welcome ul.list-form label.input-label {
  text-transform: capitalize;
}
#discuss-welcome ul.list-form .full {
  display: inline-block;
  width: 100%;
}
#discuss-welcome ul.list-form #login-button {
  float: right;
}
#discuss-welcome div.account-register {
  margin-top: 5px;
  color: #757575;
  font-size: 11px;
}
#discuss-welcome .notification {
  background: -moz-linear-gradient(center top,#F92828 0%,#E12121 100%) repeat scroll 0 0 transparent;
  border: 1px solid #222222;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.2) inset;
  color: #FFFFFF;
  float: right;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, Arial !important;
  font-size: 8px;
  height: 18px;
  line-height: 18px;
  min-width: 15px;
  padding: 0 5px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
#discuss-welcome .empty-notification {
  background: none repeat scroll 0 0 #777777 !important;
}
#discuss-welcome li a.my-favourites {
  background: url("../images/myfavourites.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.my-subscriptions {
  background: url("../images/mysubscriptions.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.my-assigned {
  background: url("../images/myassigned.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.edit-profile {
  background: url("../images/profile.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.user-discussions {
  background: url("../images/mydiscussions.png") no-repeat scroll 1px center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.all-discussions {
  background: url("../images/discussions.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.discuss-categories {
  background: url("../images/categories.png") no-repeat scroll 1px center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.discuss-tags {
  background: url("../images/tags.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.discuss-badges {
  background: url("../images/badges.png") no-repeat scroll 0 center transparent;
  padding-left: 26px;
}
#discuss-welcome li a.discuss-logout {
  background: url("../images/logout.png") no-repeat scroll 1px center transparent;
  padding-left: 26px;
}
