/* JUG */
.panel-agenda {

	img {
		max-width: 100%;
	}
	
	li {
		list-style: none;

		a {
			padding: 10px 15px;
		}
	}
}

.media-body {
	.text-muted {
		margin-bottom: 5px;
	}
}

.rs_avatar {
	.img-circle();
	margin-right: 5px;
}