@ed-title-font-size: 1.4em;
@fd-ui-meta-color: #585858;


// High-level base settings.
@fd-base-font-family: "Open Sans", sans-serif;

@fd-base-font-size-root: 16px; //
@fd-base-font-size--context: 16px; //

@fd-base-font-size: @fd-base-font-size-root; // 12px
@fd-base-font-size--xs: @fd-base-font-size-root - 1; // 11px
@fd-base-font-size--xl: @fd-base-font-size-root + 2; // 14px

@fd-title-font-size: @fd-base-font-size--xl;

@font-size-small: 16px;
@fd-title-font-size: 25px;