#ed div:empty {
  display: none;
}

#ed hr {
  margin-top: 0;
  margin-bottom: 0;
}

#ed.si-theme--light {
  --si-root-font-size: 1.25rem;
  --si-font-size--01: calc(var(--si-root-font-size) * 0.75);
  --si-font-size--02: calc(var(--si-root-font-size) * 0.875);
  --si-font-size--03: calc(var(--si-root-font-size) * 1);
  --si-font-size--04: calc(var(--si-root-font-size) * 1.125);
  --si-font-size--05: calc(var(--si-root-font-size) * 1.25);
  --si-font-size--06: calc(var(--si-root-font-size) * 1.5);
  --si-font-size--07: calc(var(--si-root-font-size) * 1.75);
  --si-font-size--08: calc(var(--si-root-font-size) * 2);
  --si-font-size--09: calc(var(--si-root-font-size) * 2.25);
  --si-font-size--10: calc(var(--si-root-font-size) * 2.625);
  --si-line-height--sm: calc(var(--si-root-font-size) * 1.25);
  --si-line-height: calc(var(--si-root-font-size) * 1.5);
  --si-ui-radius: calc(var(--si-root-font-size) * 0.25);
  --si-ui-radius--sm: calc(var(--si-root-font-size) * 0.125);
  --si-ui-radius--lg: calc(var(--si-root-font-size) * 0.5);
  --si-spacing: var(--si-root-font-size);
  --si-primary: hsl(194, 62%, 48%);
}

#ed .o-meta,
#ed .o-meta a,
#ed .o-meta a.si-link {
  color: var(--si-basic--700);
}

#ed .o-card {
  border-color: var(--si-basic--400);
}

#ed .o-card--ed-forum-post.is-featured,
#ed .o-card--ed-post-item.is-featured,
#ed .o-card--ed-post-widget.is-featured {
  background-color: var(--si-warning-100);
}

#ed .o-card--ed-forum-category {
  color: white;
  background-color: var(--si-primary);
}

#ed .o-card--ed-badge,
#ed .o-card--ed-category,
#ed .o-card--ed-post-item,
#ed .o-card--ed-entry-item,
#ed .o-card--ed-reply-item,
#ed .o-card--ed-reply-item .o-card__body--entry-meta,
#ed .o-card--ed-reply-item .o-card__footer:last-child {
  background-color: var(--si-basic--100);
}

#ed .o-card--ed-entry-item .o-card__body:nth-child(2) {
  background-color: var(--si-basic--200);
}

#ed .o-title a.si-link, #ed .o-title a.si-link:link {
  color: currentColor;
  text-transform: uppercase;
}

#ed .is-editor-markup .ed-quotes:before,
#ed .is-editor-markup blockquote:before {
  content: unset;
}

.o-avatar {
  display: inline-block;
  border-radius: 2px;
  vertical-align: middle;
  overflow: hidden;
  -webkit-border-radius: 2px;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 1em;
  outline: none !important;
}

.o-avatar img {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  image-rendering: optimizeQuality;
  border-radius: 2px;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  border: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

.o-avatar--rounded,
.o-avatar--rounded img {
  border-radius: 50%;
}

.o-avatar--sm {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}

.o-avatar--md {
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.list-group-item--inline > * {
  display: inline-block;
}

.panel-agenda li.list-group-item--inline a {
  padding: 0;
}

.navbar-nav > li.dropdown {
  line-height: 54px;
}
