ul.adminformlist > li > label {
    width: 135px;
    word-wrap: break-word;
}

.icon-48-rscomment,
.icon-48-rscomments {
	background: url("../images/rscomments_48.png") no-repeat scroll 0 0 transparent;
}

.rsspan5 {
	width: 39%;
}

.rsspan3 {
	width: 30%;
}

.pull-right {
	float: right;
	margin-left: 5px;
}

.pull-left {
	float: left;
}

.element-invisible {
	display: none;
}

#filter-bar {
	display: block;
	float:left;
	width: 100%;
}

.icon-thumbs-up {
	background: url("../images/ok_green.png") no-repeat scroll 3px 5px transparent;
	padding:8px 8px 8px 25px;
}

.icon-thumbs-down {
	background: url("../images/ok_red.png") no-repeat scroll 3px 5px transparent;
	padding:8px 8px 8px 25px;
}

div.offset0 {
	margin-top: 7px;
}

#filter-bar button {
	margin-top: 5px !important;
	height: 17px;
	font-size:10px;
}

.icon-32-confirm {
	background: url("../images/icons/confirm.png") no-repeat scroll 0 0 transparent;
}

.incorrect-code {
	width: auto !important;
}

.text-error {
  color: #b94a48 !important;
}

a.text-error:hover {
  color: #953b39 !important;
}

.text-success {
  color: #468847 !important;
}

a.text-success:hover {
  color: #356635 !important;
}