// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Site Body Styles */
html {
  height: 100%;
}

body {
  font-weight: 400;
  min-height: 100%;
  position: relative;
  zoom: 1;
}

/*
::selection {
	background: @jc-gray-dark;
	color: @white;
}

::-moz-selection {
	background: @jc-gray-dark;
	color: @white;
}
*/