/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@font-face {
    font-family: 'joomlacommunity';
    src:    url('../fonts/joomlacommunity.eot?rc0sy8');
    src:    url('../fonts/joomlacommunity.eot?rc0sy8#iefix') format('embedded-opentype'),
        url('../fonts/joomlacommunity.ttf?rc0sy8') format('truetype'),
        url('../fonts/joomlacommunity.woff?rc0sy8') format('woff'),
        url('../fonts/joomlacommunity.svg?rc0sy8#joomlacommunity') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'joomlacommunity' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\f003";
}
.icon-ok:before {
    content: "\f00c";
}
.icon-report:before {
    content: "\f071";
}
.icon-up:before {
    content: "\f077";
}
.icon-down:before {
    content: "\f078";
}
.icon-twitter:before {
    content: "\f081";
}
.icon-facebook:before {
    content: "\f082";
}
.icon-linkedin:before {
    content: "\f08c";
}
.icon-website:before {
    content: "\f0ac";
}
.icon-googleplus:before {
    content: "\f0d4";
}
.icon-joomla:before {
    content: "\f1aa";
}
.icon-edit:before {
    content: "\e900";
}
.icon-calendar:before {
    content: "\e901";
}
.icon-print:before {
    content: "\e90e";
}
.icon-archive:before {
    content: "\e902";
}
.icon-comment:before {
    content: "\e911";
}
.icon-user:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}
.icon-zoom-in:before {
    content: "\e905";
}
.icon-zoom-out:before {
    content: "\e906";
}
.icon-lock:before {
    content: "\e907";
}
.icon-cog:before {
    content: "\e908";
}
.icon-download:before {
    content: "\e909";
}
.icon-upload:before {
    content: "\e90a";
}
.icon-eye:before {
    content: "\e90f";
}
.icon-featured:before {
    content: "\e90b";
}
.icon-help:before {
    content: "\e910";
}
.icon-new:before {
    content: "\e912";
}
.icon-cancel:before {
    content: "\e90c";
}
.icon-delete:before {
    content: "\e90d";
}
